h2 {
    margin: 0rem;
}
h3{ margin: 0rem;
}

.text-chat-arq {
    border-radius: 30px;
    border-top-left-radius: 2px;
    float: none;
    display: inline-block;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    margin: 0.5rem;
    position: relative;
    padding: 1rem;
    color: black;
    background-color: white
}

.user {
    color: #2f3542;
    background-color: #ffffff;
    border-radius: 30px;
    border-top-right-radius: 2px;
    float: right;
}
.new-exp-text {
    
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 1rem;
}

.new-exp-text-aclara {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 1rem;
}
.article  .new-exp-text-aclara {
    margin-left: 1rem;
}
.article-user .new-exp-text-aclara {
    margin-right: 1rem;
    float: right;
}

.new-exp-text-aclara > * {
    color: #95a5a6;
}

.emoji {
    font-size: 2rem;
}
.new-exp-header {
    
    box-sizing: content-box;
    background-color: #f16334;
    background-image: linear-gradient( to bottom right,#f0932b,#f16334);
    padding: 1rem;
}
.new-exp-title {
    
    margin: 0rem;
    font-family: 'Roboto';
    color: white;
}

.actionable {
    color: #3742fa;
    margin-top: 1rem;
    font-weight: 500;
    display: block;
}

.chat-container > article {
    overflow: auto;
}

.chat-container > article:first-child {
    margin-top: 1rem;
}

.chat-container > article:not(:first-child){
    margin-top: 2rem;
} 