footer {
    background-color: #34495e;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    overflow-y: scroll;
}

footer {
    font-weight: 300;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

footer .company-name {
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    font-size: 0.8em;
}

hr {
    width: 75%;
    border-color: #ecf0f1;
    opacity: 0.5;
    margin-top: 2em;
    margin-bottom: 0em;
}
footer .mail-input {
    margin-top: 1em;
}
footer .icon-button {
    width: 3em;
    vertical-align: middle;
    height: 3em;
    margin-bottom: 0.3em;
    margin-left: 1em;
    border-radius: 1em;
    background-color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

footer .icon-button img {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}