/* *
 * ESTRUCTURA GENERAL
 * */
html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
max-width: 100%;
overflow-x: hidden;
background-color: #f16334;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: center;
}
p .secondary-label {
    color: #95a5a6;
}
p .primary-label {
    color: #f16334;
    font-weight: 400;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.none {
    display: none;
    visibility: hidden;
}
main {
margin: 0 auto;
width: 100%;
height: 100%;
}
#root {
    background-color: white;
    display: block;
    height: 100%;
}
.clear {
    clear:both;
}
.view-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.base-container {
    width: 100%;
    height: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    clear: both;
    flex-direction: column;
    position: relative;

}

@media only screen and (max-width: 768px) 
{
    .base-container {
        width: 100%;
        
    }
}
@media only screen and (max-width: 768px) 
{
    .base-container {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) 
{
    .base-container {
        min-width: 768px;
        width: 98%;
    }
}
@media only screen and (min-width: 1280px) 
{
    .base-container {
        min-width: 768px;
        width: 98%;
    }
}
.kdabra-orange {
    color: #f16334;
}
.kdabra-orange-text {
    color: #f16334;
    font-weight: 500;
}