/* *
 * ESTRUCTURA GENERAL
 * */
html, body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f16334;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: center;
}
a {
    color: inherit;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.none {
    display: none;
    visibility: hidden;
}
main {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}
#root {
    background-color: white;
    display: block;
    min-height: 100%;
    overflow: hidden;
    overflow-y: hidden;
}
.clear {
    clear:both;
}

.base-container {
    overflow: auto;

}
p {
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}
@media only screen and (max-width: 768px) 
{
    .base-container {
        width: 100%;
        
    }
}
@media only screen and (max-width: 768px) 
{
    .base-container {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) 
{
    .base-container {
        min-width: 768px;
        width: 98%;
    }
}
@media only screen and (min-width: 1280px) 
{
    .base-container {
        min-width: 768px;
        width: 98%;
    }
}