/* *
 * ESTRUCTURA GENERAL
 * */
html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
max-width: 100%;
overflow-x: hidden;
background-color: #f16334;
}

main {
margin: 0 auto;
width: 100%;
height: 100%;
}
#root {
    background-color: white;
}
.clear {
    clear:both;
}

.base-container {
    width: 100%;
    min-height: 94vh;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -ms-flex-direction: column;
    flex-direction: column;

}

@media only screen and (max-width: 768px) 
{
    .base-container {
        width: 100%;
        
    }
}
@media only screen and (max-width: 768px) 
{
    .base-container {
        width: 100%;
        min-height: 80vh;
    }
}
@media only screen and (min-width: 768px) 
{
    .base-container {
        width: 768px;
    }
}
@media only screen and (min-width: 1280px) 
{
    .base-container {
        width: 1280px;
    }
}
.kdabra-orange {
    color: #f16334;
}