.business-header-container {
    display: block;
    clear: both;
    overflow: hidden;
    display: block;
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    height: 3em;
    background-color: #ffffff;
    box-shadow: 0px 1.5px rgb(0, 0, 0, 0.16);
}

.business-header-container h2{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: black;
    text-align: center;
}
.business-header-link {
    display: inline-block;
    float: left;
    position: absolute;
    margin-left: 0.5em;
}
.business-header-text {
    vertical-align: middle;

     margin: 0em auto;
}

@media only screen and (max-width: 768px) 
{
    .business-header-container {
    }

    .business-header-container h2 {
        
    }
}