.business-header-container {
    display: block;
    clear: both;
    overflow: hidden;
    position: fixed;
    display: block;
    width: 100%;
    -ms-flex: none;
    flex: none;
    top: 0;
    display: block;
    height: 3em;
}

.business-header-container h2{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 768px) 
{
    .business-header-container {
    }

    .business-header-container h2 {
        
    }
}