.business-header-container {
    display: block;
    clear: both;
    overflow: hidden;
}

.business-header-container h2{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    margin: 1em auto;
    text-align: center;
}