.home {
    width: 100%;
    background-color: #f16334;
    height: 100%;
    vertical-align: middle;
}
.home h1 {
    font-weight: 700;
	font-size: 2em;
	text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0em auto;
    vertical-align: middle;
}
.home-title {
    font-size: 3em;
}

.home-tagline {
    font-size: 2em;
}