main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.home {
    width: 100%;
    background-color: white;
    position:relative;
    height: 100%;
    vertical-align: middle;
    overflow: auto;
    flex-grow: 1;
}
.home{
    font-weight: 700;
	font-size: 1em;
	text-align: center;
    color: #f16334;
    font-family: 'Montserrat', sans-serif;
    margin: 0em auto;
    vertical-align: middle;
}
.home-content {
    margin: 0em auto;
}
.home-title {
    font-size: 3em;
    font-weight: 500;
}

.home-tagline {
    font-size: 2em;
    font-weight: 400;
}

.home-tagline b{
    font-weight: 500;
}
.home-tag {
    width: 80%;
    margin: 0em auto;
    font-weight: 300;
	font-size: 1em;
	text-align: center;
    color: #f16334;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.home-tag h2{
    font-weight: 400;
	font-size: 1.7em;
	text-align: left;
    color: #2c3e50;
    float: left;
    margin: 0em;
    margin-top: 1em;
}
.home-tag h3{
    font-weight: 300;
	font-size: 1.4em;
    text-align: left;
    float: left;
    color: #2c3e50;
}
.wave-sgv {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    }
    .container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 26%;
        vertical-align: middle;
        overflow: hidden;
    }
    .container-none {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 26%;
        vertical-align: middle;
        overflow: hidden;
        opacity: 0.3;
        transition:opacity 1s linear;
    }
@media only screen and (max-width: 768px) 
{
    .home-content {
        width: 80%;
    }
    .home-title {
        font-size: 2em;
    }
    .home-tagline {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1260px) 
{
    .home-content {
        width: 80%;
    }
    .home-title {
        font-size: 3em;
    }
    .home-tagline {
        font-size: 1.5em;
    }
}