.message {
    border-radius: 16px;
    border-bottom-left-radius: 4px;
    display: inline-block;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    font-family: Rubik,sans-serif;
    font-weight: 400;
    margin: 0.5em;
    background-color: lightgrey;
    max-width: 70%;
}

.left {
    text-align: left;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000;
    float: left;
    padding: 1em;
}
.left p {
    margin: 0 auto;
}

@media only screen and (max-width: 768px) 
{
    .message {
        max-width: 85%;
    }
}