.left-titulo-linea {
    text-align: left;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000;
    float: left;
    padding: 1em;
}
.left-titulo-linea p {
    margin: 0 auto;
}
.left-titulo-linea p h1{
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin: 0 auto;
}
.left-titulo-linea p h3{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8d847f;
    margin: 0 auto;
    margin-top: 1em;
}