.messages-article-container {
    overflow:hidden;
}

.message-handler-container {
    display: block;
    clear: both;
    /* position: fixed; */
    width: 100%;
    overflow: hidden;
    bottom: 0;
    -ms-flex: none;
    flex: none;
}

.message-submit-button {
    position: absolute;
    right: 2em;
    bottom: 0.5em;
    z-index: 10;
    cursor: pointer;
}
.messages-container {
    clear:both;
    overflow: hidden;
    
    flex: 1 0 auto;
}
.message-div {
    position: relative;
}

.view-container {
    height: 100vh;
}