.messages-article-container {
    overflow:hidden;
}

.message-handler-container {
   display: block;
    clear: both;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    bottom: 0;
    -ms-flex: none;
    border-radius: 1em;
    position:relative;
    flex: none;
    background-color: #dfdfdf;
}

.message-submit-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    z-index: 10;
    cursor: pointer;
    border-radius: 1em;
    padding: 0.7em;
    padding-top: 0.6em;
    vertical-align: middle;
    text-align: center;
}
@media only screen and (max-width: 768px) 
{
    .messages-container {

     margin-bottom: 100px;
    }
    .message-handler-container {

    border-radius: 0em;
    }
    .message-submit-button {         
        margin-left: 0em;
        border-top-left-radius: 0em;
        border-bottom-left-radius: 0em;
    }
}
@media only screen and (min-width: 768px) 
{
    .message-submit-button { 
        right: 1em;

        margin-left: 2em;
    }
}
.messages-container {
    clear: both;
    overflow: hidden;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 auto;
    width: 100%;
    display: block;
}
.message-div {
    position: relative;
}

.focus-div {
    height: 5vh;
}

.message-sended-for {
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    float: right;
    font-style: italic;
    position: absolute;
    bottom: 0em;
    right: 1em;
    color: #95a5a6;
    font-size: 0.7em;
}