.message-right {
    display: block;
    border-radius: 16px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    font-family: Rubik,sans-serif;
    font-weight: 400;
    background-color: #8d847f;
    margin: 0.5em;
    float: right;
}

.right {
    text-align: left;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000;
    float: right;
    padding: 0.5em;
}

.right p {
    margin: 0 auto;
}