.message-sended-for {
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    float: right;
    font-style: italic;
    position: absolute;
    bottom: 0em;
    right: 1em;
    color: #95a5a6;
    font-size: 0.7em;
}