.message-right {
    display: block;
    border-radius: 16px;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    font-family: Rubik,sans-serif;
    background-color: cornflowerblue;
    margin: .5em;
    max-width: 70%;
    font-weight: 400;
    margin: 0.5em;
    float: right;
}

.right {
    text-align: left;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: white;
    float: right;
    padding: 0.5em;
}

.right p {
    margin: 0 auto;
}