main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.home {
    width: 100%;
    background-color: transparent;
    position:relative;
    height: 100%;
    vertical-align: middle;
    overflow: auto;
    flex-grow: 1;
}
.home{
    font-weight: 700;
	font-size: 1em;
	text-align: center;
    color: white;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0em auto;
    vertical-align: middle;
}
#root {
    background-color: transparent;
}
.home-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    opacity: 1;
    z-index: 0;
}
.home-bg-image-filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    opacity: 0.85;
    z-index: 1;
    background-color: #34495e;
}
.home-content-container {
    z-index: 2;
    background-color: white;
    margin: 0em auto;
    height: 100%;
    width: 100%;
}
.home-content {
    position: relative;
    z-index: 2;
    margin: 0em auto;
    height: 80%;
    width: 100%;
}
.home-title {
    font-size: 3em;
    font-weight: 500;
}

.home-tagline {
    font-size: 2em;
    font-weight: 400;
}
.home-cta {
    border-radius: 0.2em;
    border-color: tomato;
    background-color: tomato;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 300px;
    bottom: 0em;
    display: block;
    margin: 0em auto;
    position: absolute;
    padding-left: 1.5em;
    padding-right: 1.5em;
    left: 0;
    right: 0;
    cursor: pointer;
}

.home-tagline b{
    font-weight: 500;
}
.home-tag {
    width: 80%;
    margin: 0em auto;
    font-weight: 300;
	font-size: 1em;
	text-align: center;
    color: #f16334;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.home-main-content {
    background-color: white;
}
.home-tag h2{
    font-weight: 400;
	font-size: 1.7em;
	text-align: left;
    color: #2c3e50;
    float: left;
    margin: 0em;
    margin-top: 1em;
}
.home-tag h3{
    font-weight: 300;
	font-size: 1.4em;
    text-align: left;
    float: left;
    color: #2c3e50;
}
.wave-sgv {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    }
    .container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 26%;
        vertical-align: middle;
        overflow: hidden;
    }
    .container-none {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 26%;
        vertical-align: middle;
        overflow: hidden;
        opacity: 0.3;
        transition:opacity 1s linear;
    }
@media only screen and (max-width: 768px) 
{
    .home-content {
        width: 80%;
    }
    .home-title {
        font-size: 2em;
    }
    .home-tagline {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) { 

    .home-content {
        top: 1em;
        bottom: 1em;
    }
}

@media only screen and (min-width: 1000px) 
{
    .home-content {
        width: 50%;
    }
    .home-title {
        font-size: 3em;
    }
    .home-tagline {
        font-size: 1.5em;
    }
}